<%= form_for(@wine) do |f| %>
  <% if @wine.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@wine.errors.count, "error") %> prohibited this wine from being saved:</h2>

      <ul>
      <% @wine.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label 'Taster' %><br />
    <%= f.text_field :user %>
  </div>
  <div class="field">
    <%= f.label :winery %><br />
    <%= f.text_field :winery %>
  </div>
  <div class="field">
    <%= f.label :blend %><br />
    <%= f.text_field :blend %>
  </div>
  <div class="field">
    <%= f.label :vintage %><br />
    <%= f.text_field :vintage %>
  </div>
  <div class="field">
    <%= f.label :rating %><br />
    <%= f.text_field :rating %>
  </div>
  <div class="field">
    <%= f.label :price %><br />
    <%= f.text_field :price %>
  </div>
  <div class="field">
    <%= f.label :tasting_date %><br />
    <%= f.text_field :tasting_date %>
  </div>
  <div class="field">
    <%= f.label :purchase_date %><br />
    <%= f.text_field :purchase_date %>
  </div>
  <div class="field">
    <%= f.label :comment %><br />
    <%= f.text_area :comment %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
