<link href="stylesheets/tablecloth.css" rel="stylesheet" type="text/css" media="screen" />
<script type="text/javascript" src="javascripts/tablecloth.js"></script>

<table>
  <tr>
    <th>Taster</th>
    <th>Winery</th>
    <th>Blend</th>
    <th>Vintage</th>
    <th>Rating</th>
    <th>Price</th>
    <th>Tasting Date</th>
    <th>Purchase Date</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @wines.each do |wine| %>
  <tr>
    <td><%= wine.user %></td>
    <td><%= wine.winery %></td>
    <td><%= wine.blend %></td>
    <td><%= wine.vintage %></td>
    <td><%= wine.rating %></td>
    <td><%= wine.price %></td>
    <td><%= wine.tasting_date %></td>
    <td><%= wine.purchase_date %></td>
    <td><%= link_to 'Show', wine, :class=> 'link_to' %></td>
    <td><%= link_to 'Edit', edit_wine_path(wine) %></td>
    <td><%= link_to 'Destroy', wine, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Wine', new_wine_path, :class=> 'link_to' %>
</div>

</div>
