<p id="notice"><%= notice %></p>

<p>
  <b>Taster:</b>
  <%= @wine.user %>
</p>

<p>
  <b>Winery:</b>
  <%= @wine.winery %>
</p>

<p>
  <b>Blend:</b>
  <%= @wine.blend%>
</p>

<p>
  <b>Vintage:</b>
  <%= @wine.vintage %>
</p>

<p>
  <b>Rating:</b>
  <%= @wine.rating %>
</p>

<p>
  <b>Price:</b>
  <%= @wine.price %>
</p>

<p>
  <b>Tasting Date:</b>
  <%= @wine.tasting_date %>
</p>

<p>
  <b>Purchase Date:</b>
  <%= @wine.purchase_date %>
</p>

<p>
  <b>Comment:</b>
  <%= @wine.comment %>
</p>

<%= link_to 'Edit', edit_wine_path(@wine) %> |
<%= link_to 'Back', wines_path %>
